<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="fromLocation" value="E:\Kanthi's\poc\zip extract\Round 2 - D1 - Share"/>
  <add key="toLocation" value="E:\Kanthi's\poc\zip extract\"/>
  <add key="fileType" value="*.txt"/>
  <add key="noOfFileInIteration" value="10"/>
</appSettings>
</configuration>